/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #000000, #000000);
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #333;
  background-image: url(image/satoru-gojo-de-jjk-13054.jpg);
  background-repeat: no-repeat ;
  background-size: cover;
}

/* Container de secciones */
section {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

/* Inputs y botones */
input, select, button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #e20b0b;
  font-size: 16px;
}

input:focus, select:focus {
  outline: none;
  border-color: #460fdf;
  box-shadow: 0 0 5px #26a69a55;
}

button {
  background-color: #e91717;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0044fd;
}

/* Links */
a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Lista de eventos */
ul#eventList {
  margin-top: 20px;
  list-style: none;
}

ul#eventList li {
  background-color: #f0f4f8;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

ul#eventList li button {
  margin-top: 10px;
  margin-right: 8px;
  font-size: 14px;
}

/* Mensaje de bienvenida */
#welcomeMsg {
  margin-bottom: 20px;
  font-size: 1.3em;
  color: #000000;
  text-align: center;
}

/* Buscador */
#searchInput {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 480px) {
  section {
    padding: 20px;
  }
  h2, h3 {
    font-size: 20px;
  }
}